/* RESET */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* FINE RESET */

/* BODY STYLE*/
body{
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}
/* FINE BODY STYLE*/


/* HEADER */
header{
    background-color: #fff;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

header img{
    vertical-align: middle;
}

header h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}
/* FINE HEADER*/

/* MAIN */
main {
    background-color: #fff;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}

/* SEZIONE LINKS */
.links{
    padding-top: 20px;
    padding-left: 60px;
    padding-bottom: 15px;
}

.links a {
    text-decoration: none;
    font-size: 13px;
    padding: 5px 10px;
}

.links .add-task{
    color: white;
    background-color: #47adf1;
    border-radius: 5px;
}

.links .add-section{
    color: #c5cbd0;
    border: 1px solid #c5cbd0;
    border-radius: 5px;
}
/* FINE SEZIONE LINKS */

hr{
    border: 1px solid #f6f8f9;
}

/* SEZIONE TO-DO */
.to-do{
    padding-top: 35px;
    padding-left: 60px;
    padding-bottom: 50px;
}

.to-do li{
    list-style-type:none;
}

.to-do h3{
    font-size: 20px;
    display: inline-block;
}

.arrow{
    font-size: 22px;
}
/* FINE SEZIONE TO-DO */

/* FINE MAIN */
